
/* 右下のやつ */

		@charset "UTF-8";

		#browserAlert {
		  z-index: 10;
		  display: none;
		  left: 0;
		  top: 0;
		  position: absolute;
		  width: 100vw;
		  height: 100vh;
		  background: rgba(255, 255, 255, 0.8);
		  pointer-events: none;
		  font-size: 2em;
		}
		#browserAlert.active {
		  display: block;
		}
		#browserAlert.active span {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
		}
		.side-note {
		  padding-top: 1em;
		  position: absolute;
		  display: flex;
		  justify-content: flex-start;
		  align-items: center;
		  flex-direction: column;
		  height: 10em;
		  min-width: 20em;
		  border-top: 2px solid #aeaeae;
		  background: white;
		  z-index: 10;
		  transform: rotate(-45deg);
		  transform-origin: 100% 100%;
		  right: -8.5em;
		  bottom: 5em;
		  font-weight: 300;
		  font-size: 0.7em;
		  color: #aeaeae;
		}
		.side-note a {
		  color: #7b7b7b;
		  margin-top: 0.3em;
		  cursor: default;
		  text-decoration: underline;
		  color: inherit;
		  font-weight: 500;
		  transition: color 300ms ease;
		}
		.side-note a:hover {
		  color: #616161;
		}