
/* リスト内ボタン */

@charset "UTF-8";
/* ミニボタン */

		.btn-gradient-radius {
		  /*ボタンの下地*/
		  color: #FFF;/*文字・アイコン色*/
		  border-radius: 10px;/*角丸に*/
		  position: relative;
		  display: inline-block;
		  height: 40px;/*高さ*/
		  width: 120px;/*幅*/
		  text-align: center;/*中身を中央寄せ*/
		  font-size: 15px;/*文字のサイズ*/
		  font-weight: bold;
		  line-height: 40px;/*高さと合わせる*/
		  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 70%);/*グラデーション①*/
		  overflow: hidden;/*はみ出た部分を隠す*/
		  text-decoration:none;/*下線は消す*/
		  margin-right: 5px;

		}
		.btn-gradient-radius:hover {
		  background-image: linear-gradient(45deg,#ffb894 0%, #ff8484 70%);
		}


/* タスクテーブル用CSS */
		#taskTable .tablesorter-header {
		cursor: pointer;
		outline: none;
		}

		#taskTable .tablesorter-header-inner::after {
			content: '▼';
			font-size: 12px;
			margin-left: 5px;
		}

/* カレンダー用CSS */
		#datepicker {
			display: flex;
			justify-content: center;
		}

/*新規作成ボタン */
		.btn1 {
		  /*ボタンの下地*/
		  color: #000080;/*文字・アイコン色*/
		  border-radius: 10px;/*角丸に*/
		  position: relative;
		  display: inline-block;
		  height: 40px;/*高さ*/
		  width: 100px;/*幅*/
		  text-align: center;/*中身を中央寄せ*/
		  font-size: 15px;/*文字のサイズ*/
		  font-weight: bold;
		  line-height: 40px;/*高さと合わせる*/
		  background: linear-gradient(135deg, #7fff7f 0%, #ffff7f 70%) no-repeat;/*グラデーション①*/
		  overflow: hidden;/*はみ出た部分を隠す*/
		  text-decoration:none;/*下線は消す*/
		  margin: 10px;
		}
		.btn1:hover {
		  background-image: linear-gradient(135deg, #ff7f50 0%, #ff7fff 70%);
		}

/* 更新ボタン */
		.btn2 {
		  /*ボタンの下地*/
		  color: #000080;/*文字・アイコン色*/
		  border-radius: 10px;/*角丸に*/
		  position: relative;
		  display: inline-block;
		  height: 40px;/*高さ*/
		  width: 100px;/*幅*/
		  text-align: center;/*中身を中央寄せ*/
		  font-size: 15px;/*文字のサイズ*/
		  font-weight: bold;
		  line-height: 40px;/*高さと合わせる*/
		  background: linear-gradient(135deg, #7fff7f 0%, #ffff7f 70%) no-repeat;/*グラデーション①*/
		  overflow: hidden;/*はみ出た部分を隠す*/
		  text-decoration:none;/*下線は消す*/
		  margin: 10px;
		}
		.btn2:hover {
		  background-image: linear-gradient(135deg, #7f7fff 0%, #89ffff 70%);
		}


/*ゴミ箱ボタン */
		.btn {
		  /*ボタンの下地*/
		  color: #ffffff;/*文字・アイコン色*/
		  border-radius: 10px;/*角丸に*/
		  position: relative;
		  display: block;
		  height: 40px;/*高さ*/
		  width: 120px;/*幅*/
		  text-align: center;/*中身を中央寄せ*/
		  font-size: 15px;/*文字のサイズ*/
		  font-weight: bold;
		  line-height: 40px;/*高さと合わせる*/
		  background: linear-gradient(135deg, #00008b 0%, #708090 70%) no-repeat;/*グラデーション①*/
		  overflow: hidden;/*はみ出た部分を隠す*/
		  text-decoration:none;/*下線は消す*/
		  justify-content: right;
		}
		.btn:hover {
		  background-image: linear-gradient(135deg, #006400 0%, #6a5acd 70%);
		}


