
/* ロゴ */

@charset "UTF-8";

		.img{
		  position: absolute;
		  top: 0;
		  left: 0;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  width: 10%;
		}

		#i{
		margin:10px;
		}
