
/* ロゴ */

@charset "UTF-8";

		.img{
		  position: absolute;
		  top: 0;
		  left: 0;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  width: 10%;
		}

		#i{
		margin:10px;
		}

/* TOPページに戻るボタン */

		#page-top {
		    position: fixed;
		    bottom: 20px;
		    right: 20px;
		    font-size: 77%;
		}
		#page-top a {
		    background: #666;
		    text-decoration: none;
		    color: #fff;
		    width: 100px;
		    padding: 30px 0;
		    text-align: center;
		    display: block;
		    border-radius: 5px;
		}
		#page-top a:hover {
		    text-decoration: none;
		    background: #999;
		}


/* 上のバー */
		.nav{
			display:none;
		    width: 100%;
		    z-index: 100;
		}

		.nav.mini{
			display:block;
		    position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		.color{
			background-color: #89d7f8;
		    color: snow;
		    height: 40px;
		    top: 0;
		    left: 0;
		    width: 100%;
		    line-height: 40px;/*高さと合わせる*/
		    position:center;
		    display: inline-block;

		}

