
/* miniボタン */

		@charset "UTF-8";

		.btn-open {
		  display: inline-block;
		  width: 70px;
		  height:50px;
		  text-align: center;
		  background-color: #9ec34b;
		  font-size: 16px;
		  line-height: 52px;
		  color: #FFF;
		  text-decoration: none;
		  font-weight: bold;
		  border: 2px solid #9ec34b;
		  position: relative;
		  overflow: hidden;
		  z-index: 1;
		}
		.btn-open:after{
		  width: 100%;
		  height: 0;
		  content:"";
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  background : #FFF;
		  opacity: 0;
		  transform: translateX(-50%) translateY(-50%) rotate(45deg);
		  transition: .2s;
		  z-index: -1;
		}
		.btn-open:hover{
		  color: #9ec34b;
		}
		.btn-open:hover:after{
		  height: 240%;
		  opacity: 1;
		}
		.btn-open:active:after{
		  height: 340%;
		  opacity: 1;
		}