@charset "UTF-8";
/*削除ボタン */
		.btn3 {
		  /*ボタンの下地*/
		  color: #ffffff;/*文字・アイコン色*/
		  border-radius: 10px;/*角丸に*/
		  position: relative;
		  height: 40px;/*高さ*/
		  width: 120px;/*幅*/
		  text-align: center;/*中身を中央寄せ*/
		  font-size: 15px;/*文字のサイズ*/
		  font-weight: bold;
		  line-height: 40px;/*高さと合わせる*/
		  background: linear-gradient(135deg, #00008b 0%, #708090 70%) no-repeat;/*グラデーション①*/
		  overflow: hidden;/*はみ出た部分を隠す*/
		  text-decoration:none;/*下線は消す*/
		  margin:10px;
		}
		.btn3:hover {
		  background-image: linear-gradient(135deg, #006400 0%, #6a5acd 70%);
		}
