<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリ登録</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

<h1>カテゴリ登録</h1>

<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

	<form action="/category/add" method="post">
	<input type="hidden" th:value="${tcode}" name="tcode">

		<table border="1">

			<tr>
				<th>カテゴリー名:</th><td><input type="text" name="name"></td>
			</tr>

			<tr>
				<th>カテゴリー番号：</th><td><input type="number" name="code" min="1" max="99"></td>
			</tr>

		</table>
		<br>

			<button class="btnSubmit" value="登録">登録</button>
	</form>
		<br>

		<table border="1" style="border-collapse: collapse">
            <tr>
            	<th>カテゴリ番号</th>
                <th>カテゴリ名</th>
            </tr>
            <tr th:each="c:${clist}">
            	<td><span th:text="${c.code}"></span></td>
                <td><span th:text="${c.name}"></span></td>
            </tr>
        </table>
		<br>

		<div th:if="${tcode==0}"><a href="/list/new">新規作成へ戻る</a></div>
		<!-- <div th:if="${tcode!=0}"><a href="/list/new">新規作成へ戻る</a></div> -->

</body>
</html>