<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>グループ登録</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- 右下のやつCSS -->
		<link rel="stylesheet" href="/corner.css">

</head>
<body>
<h1>グループ登録</h1>

<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

	<form action="/group/add" method="post">

		※のついた項目は必須です<br>

		<table border="1">

			<tr>
				<th>グループ名(※):</th><td><input type="text" name="name"></td>
			</tr>

			<tr>
				<th>グループ番号(※)：</th><td><input type="number" name="id" min="1" max="99"></td>
			</tr>

			<tr>
				<th>グループメンバー：</th><td><textarea name="member" cols="20" rows="2"></textarea></td>
			</tr>

		</table>
		<br>

			<button class="btnSubmit" value="登録">登録</button>

	</form>
		<br>

		<a href="/list/new">新規作成へ戻る</a>

<!-- 右下のマーク -->
			<div class="side-note"><span>ToDo List</span></div>
			<div id="browserAlert" style="display: none"><span></span></div>


</body>
</html>