<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>グループ登録</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

<h1>グループ登録</h1>

<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

	<form action="/editTask/group/add" method="post">
	<input type="hidden" name="code" th:value="${code}">

		※のついた項目は必須です<br>

		<table border="1">

			<tr>
				<th>グループ名(※):</th><td><input type="text" name="name"></td>
			</tr>

			<tr>
				<th>グループ番号(※)：</th><td><input type="number" name="id" min="1" max="99"></td>
			</tr>

			<tr>
				<th>グループメンバー：</th><td><textarea name="member" cols="20" rows="2"></textarea></td>
			</tr>

		</table>
		<br>

			<button class="btnSubmit" value="登録">登録</button>

	</form>
		<br>

		<!-- グループメンバー表示 -->
	<table border="1" style="border-collapse: collapse">
            <tr>
            	<th>グループコード</th>
                <th>グループ名</th>
                <th>メンバー</th>
            </tr>
            <tr th:each="g2:${glist}">
            	<td><span th:text="${g2.id}"></span></td>
                <td><span th:text="${g2.name}"></span></td>
                <td><span th:each="gm:${gmlist}" th:if="${g2.id==gm.groupId}" th:text="${gm.member}"></span></td>
            </tr>
        </table>
        <br>

		<a href="/list/new">新規作成へ戻る</a>

</body>
</html>