<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク登録</title>
</head>
<body>
<h1>タスク登録</h1>
	<span th:replace="menu"></span>

		<form action="/list/add"  method="post">
		<input type="hidden" name="userId" th:value="${session.userInfo.id}">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="name"></td>
	</tr>

	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}"></td>
 	</tr>

 	<tr>
		<th>期限</th><td><input type="date" name="dline"></td>
	</tr>

	<tr>
		<th>優先順位</th>
	<td><select name="prtNum">
			<option value="1">高</option>
			<option value="2">中</option>
			<option value="3">低</option>
		</select>
	</td>
	</tr>

	<tr>
		<th>カテゴリ番号</th>
	<td><select name="cgCode">
		<option value="">カテゴリを選択してください</option>
		<option th:each="i:${clist}" th:value="${i}" th:text="${i}+'：'+${i.name}">
		</select>
		<a href="/option" onclick="openPopup();">新規カテゴリ登録</a>
	</td>
	</tr>

	<tr>
		<th>グループ番号</th>
		<td><select name="groupId">
			<option value="1">1班</option>
			<option value="2">2班</option>
			<option value="3">3班</option>
			<option onclick="openPopup();">新規登録</option>
			</select>
		</td>
	</tr>

	<tr>
		<th>備考</th><td><textarea name="memo" cols="40" rows="5"></textarea></td>
	</tr>

</table>

<input type="reset" value="リセット">
<br>
	<input type="submit"  value="新規作成">
	<br>
<a href="/list">タスク一覧へ</a>
</form>

</body>
</html>