<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク登録</title>
</head>
<body>
<h1>タスク登録</h1>
	<span th:replace="menu"></span>

		<form action="/list/add"  method="post">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="task"></td>
	</tr>
	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}" name="name"></td>
 	</tr>
 	<tr>
		<th>期限</th><td><input type="datetime-local" name="dline"></td>
	</tr>
<!-- 		<tr>
<th>優先順位</th>
<td><select name="prt_num">
<option value="選択肢1">選択肢1</option>
<option value="選択肢2">選択肢2</option>
<option value="選択肢3">選択肢3</option>
</select>
</td></tr> -->
<!-- 		<tr>
<th>カテゴリ番号</th>
<td><select name="cg_code">
<option value="選択肢1">選択肢1</option>
<option value="選択肢2">選択肢2</option>
<option value="選択肢3">選択肢3</option>
</select></td></tr> -->
<!-- 		<tr>
<th>グループ番号</th>
<td><select name="group_id">
<option value="選択肢1">選択肢1</option>
<option value="選択肢2">選択肢2</option>
<option value="選択肢3">選択肢3</option>
</select></td></tr> -->
 -->
	<tr>
		<th>備考</th><td><textarea name="memo" cols="40" rows="5"></textarea></td>
	</tr>

</table>

<input type="reset" value="リセット">

</form>

</body>
</html>