<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク登録</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- 右下のやつCSS -->
		<link rel="stylesheet" href="/corner.css">
<!-- カレンダーjQuery -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" >

		<script>
			  $(function() {
			    $("#datepicker").datepicker();
			  });
		</script>

</head>
<body>
<h1>タスク登録</h1>
	<span th:replace="menu"></span>

	<p th:text="${msg1}" style="color:red"></p>
	<p th:text="${msg2}" style="color:red"></p>

		<form action="/list/add"  method="post">
		<input type="hidden" name="userId" th:value="${session.userInfo.id}">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="name" size="43"></td>
	</tr>

	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}"></td>
 	</tr>

 	<tr>
		<th>期限</th><td><input type="text" name="dline" id="datepicker" size="43"></td>
	</tr>

	<tr>
		<th>優先順位</th>
	<td><select name="prtNum">
			<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}">
		</select>
	</td>
	</tr>

	<tr>
		<th>カテゴリ番号</th>
		<td>
			<select name="cgCode">
				<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
			</select>
		<a href="/category/new" onclick="openPopup();">新規カテゴリ登録</a>
	</td>
	</tr>

	<tr>
		<th>グループ番号</th>
		<td>
			<select name="groupId">
				<option th:each="g:${glist}" th:if="${g.id!=100}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}">
			</select>
			<a href="/group/new" onclick="openPopup();">新規グループ登録</a>
		</td>
	</tr>

	<tr>
		<th>備考</th><td><textarea name="memo" cols="40" rows="5"></textarea></td>
	</tr>

</table>

		<br>

		<button class="btnSubmit" value="新規作成">新規作成</button>
		<button class="btnSubmit" type="reset" value="リセット">リセット</button>

		</form>
		<br>

<!-- グループ編集ボタン -->
			<form action="/group/edit" method="post">
			<select name="gid">
				<option th:each="g:${glist}" th:if="${g.id!=100 && g.id!=0}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}">
			</select>
			<input type="submit" value="グループ編集"></form>

<!-- カテゴリ編集ボタン -->
			<form action="/category/edit" method="post">
			<select name="cCode">
				<option th:each="c:${clist}" th:if="${c.code!=100 && c.code!=0}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
			</select>
			<input type="submit" value="カテゴリ編集"></form>

			<a href="/list">タスク一覧へ</a>

<!-- 右下のマーク -->
		<div class="side-note"><span>ToDo List</span></div>
		<div id="browserAlert" style="display: none"><span></span></div>


</body>
</html>