<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー情報</title>

<!-- 入力フォームjQuery & CSS -->
		<span th:replace="topJquery"></span>
<!-- 格子背景CSS -->
		<link rel="stylesheet" href="/background.css">

</head>
<body>

<div id="formWrapper">
<div id="form">

	<h1>登録情報変更</h1>

	<p th:text="${message}" style="color:red"></p>

	登録情報の確認を行います
	<br>
	名前を入力すると秘密の質問が表示されます
	<br>

	<form action="/himitu/get" method="POST">
		NAME:<input type="text" name="name" th:value="${userName}">
		<span th:if="${flag==false}"><input type="submit" value="送信"></span>
	</form>

	<form action="/change/pw" method="post">
		<span th:text="${quiz}"></span><br>
		答え：<input type="text" name="himitu">
		<input type="hidden" th:value="${userName}" name="userName">
		<span th:if="${flag==true}"><input type="submit" value="送信"></span>
	</form>
	<br>
	<a href="/">ログイン画面へ</a>

</div>
</div>

</body>
</html>