<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo List|パスワード変更</title>

<!-- 入力フォームjQuery & CSS -->
		<span th:replace="topJquery"></span>
<!-- 格子背景CSS -->
		<link rel="stylesheet" href="/background.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ファビコン -->
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

	<div id="formWrapper">
	<div id="form">

	<h1>新しいパスワード</h1>

	<form action="/change/pw/action" method="POST">
	<input type="hidden" name="userId" th:value="${user.id}">
	PASS:<input type="password" name="pw" placeholder="8～15文字" pattern=^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9.?/-]{8,15}$ title="半角英数字1字以上を含めた8字以上15字以内で設定してください"><br>
	PASS再確認:<input type="password" name="pw2">
	<input type="submit" value="変更">
	</form>

	<br>
	<a href="/">ログイン画面へ</a>

	</div>
	</div>

</body>
</html>