<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ情報更新</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

<h1>ユーザ情報更新</h1>

<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

		<table border="1">

			<form action="/userInfo/change/name" method="post">
			<input type="hidden" name="id" th:value="${user.id}">
			<input type="hidden" name="NAME" th:value="${user.name}">
			<tr>
				<th>NAME：</th>
				<td><input type="text" name="name" th:value="${user.name}"></td>
				<td><input type="submit" value="更新"></td>
			</tr>
			</form>

			<form action="/userInfo/change/pw" method="post">
			<input type="hidden" name="id" th:value="${user.id}">
			<tr>
				<th>PW：</th>
				<td><input type="password" name="pw1"></td>
				<td></td>
			</tr>

			<tr>
				<th>PW再確認：</th>
				<td><input type="password" name="pw2"></td>
				<td><input type="submit" value="更新"></td>
			</tr>
			</form>

			<form action="/userInfo/himitu" method="post">
			<input type="hidden" name="id" th:value="${user.id}">
			<tr>
				<th>秘密の質問：</th>
				<td><select name="himituCode">
						<option value="1" th:text="出身地は？" th:selected="${user.himituCode==1}">
						<option value="2" th:text="ペットの名前は？" th:selected="${user.himituCode==2}">
						<option value="3" th:text="親の旧姓は？" th:selected="${user.himituCode==3}">
					</select>
				</td>
				<td></td>
			</tr>

			<tr>
				<th>秘密の言葉：</th>
				<td><input type="text" name="himitu"></td>
				<td><input type="submit" value="更新"></td>
			</tr>
			</form>

		</table>

		<br>

</body>
</html>