<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- カレンダーjQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" >

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- 右下のやつCSS -->
		<link rel="stylesheet" href="/corner.css">

</head>
<body>

	<h1>グループ編集</h1>
	<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

			<form action="/group/update"  method="post">
			<input type="hidden" name="gid" th:value="${group.id}">
			<input type="hidden" name="gname" th:value="${group.name}">

			<table border="1">

		<tr>
			<th>グループ番号</th><td><input type="number" name="id" min="1" max="99" th:value="${group.id}"></td>
		</tr>

		<tr>
			<th>グループ名</th><td><input type="text" name="name" th:value="${group.name}"></td>
		</tr>

		<tr>
			<th>グループメンバー</th>
			<td><input type="text" name="member" th:value="${groupM.member}"></td>
		</tr>

	</table>

	<br>
		<button class="btnSubmit" value="更新">更新</button>

		</form>
		<br>

		<a href="/list">タスク一覧へ</a>

<!-- 右下のマーク -->
		<div class="side-note"><span>ToDo List</span></div>
		<div id="browserAlert" style="display: none"><span></span></div>

</body>
</html>