<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- jQuery -->
			<span th:replace="jquery"></span>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" >
<script>
  $(function() {
    $("#datepicker").datepicker();
  });
</script>

</head>
<body>

<h1>タスク編集</h1>
	<span th:replace="menu"></span>

	<p th:text="${msg1}" style="color:red"></p>

		<form action="/update"  method="post">
		<input type="hidden" name="code" th:value="${task.code}">
		<input type="hidden" name="userId" th:value="${session.userInfo.id}">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="name" th:value="${task.name}"></td>
	</tr>

	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}"></td>
 	</tr>

 	<tr>
		<th>期限</th><td><input type="text" name="dline" th:value="${task.dline}" id="datepicker"></td>
	</tr>

	<tr>
		<th>優先順位</th>
	<td><select name="prtNum">
			<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}" th:selected="${task.prtNum==p.num}">
		</select>
	</td>
	</tr>

	<tr>
		<th>カテゴリ番号</th>
	<td><select name="cgCode">
				<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
			</select>
		<a href="/category/new" onclick="openPopup();">新規カテゴリ登録</a>
	</td>
	</tr>

	<tr>
		<th>グループ番号</th>
				<td><select name="groupId">
<!-- 		<option value="0">グループを選択してください</option> あ-->
		<option th:each="g:${glist}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}" th:selected="${task.groupId==g.id}">
			<!-- <option onclick="openPopup();">新規登録</option> -->
			</select>
		</td>
	</tr>

	<tr>
		<th>進捗度</th>
		<td><input th:value="${task.progress}" type="number" name="progress"></td>
	</tr>
	<tr>
		<th>備考</th>
		<td><textarea name="memo" cols="40" rows="5" th:text="${task.memo}"></textarea></td>
	</tr>

</table>

<br>
<!-- 右下のマーク -->
		<div class="side-note"><span>ToDo List</span></div>
		<div id="browserAlert" style="display: none"><span></span></div>

		<button class="btnSubmit" value="更新">更新</button>
	<br>
<a href="/list">タスク一覧へ</a>
</form>

<!-- グループ編集ボタン -->
			<form action="/group/edit" method="POST">
			<select name="gid">
				<option th:each="g:${glist}" th:if="${g.id!=100 && g.id!=0}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}">
			</select>
			<input type="submit" value="グループ編集"></form>

<!-- カテゴリ編集ボタン -->
			<form action="/category/edit" method="POST">
			<select name="cCode">
				<option th:each="c:${clist}" th:if="${c.code!=100 && c.code!=0}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
			</select>
			<input type="submit" value="カテゴリ編集"></form>

</body>
</html>