<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- カレンダーjQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" >

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>

</head>
<body>

<h1>カテゴリ編集</h1>

	<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>


<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

		<form action="/category/update"  method="post">
		<input type="hidden" name="cCode" th:value="${category.code}">
		<input type="hidden" name="cName" th:value="${category.name}">

		<table border="1">
			<tr>
				<th>カテゴリ番号</th><td><input type="number" name="code" min="1" th:value="${category.code}"></td>
			</tr>

			<tr>
				<th>カテゴリ名</th><td><input type="text" name="name" th:value="${category.name}"></td>
			</tr>
		</table>

		<br>

		<button class="btnSubmit" value="更新">更新</button>

		</form>
		<br>

		<table border="1" style="border-collapse: collapse">
            <tr>
            	<th>カテゴリ番号</th>
                <th>カテゴリ名</th>
            </tr>
            <tr th:each="c:${clist}">
            	<td><span th:text="${c.code}"></span></td>
                <td><span th:text="${c.name}"></span></td>
            </tr>
        </table>
		<br>

		<a href="/list/new">新規作成へ戻る</a>

</body>
</html>