<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>
</head>
<body>

<h1>タスク編集</h1>
	<span th:replace="menu"></span>

	<p th:text="${msg1}"></p>

		<form action="/update"  method="post">
		<input type="hidden" name="code" th:value="${task.code}">
		<input type="hidden" name="userId" th:value="${session.userInfo.id}">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="name" th:value="${task.name}"></td>
	</tr>

	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}"></td>
 	</tr>

 	<tr>
		<th>期限</th><td><input type="date" name="dline" th:value="${task.dline}"></td>
	</tr>

	<tr>
		<th>優先順位</th>
	<td><select name="prtNum">
			<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}" th:selected="${task.prtNum==p.num}">
		</select>
	</td>
	</tr>

	<tr>
		<th>カテゴリ番号</th>
	<td><select name="cgCode">
		<option value="0">カテゴリを選択してください</option>
		<option th:each="c:${clist}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}" th:selected="${task.cgCode==c.code}">
		</select>
		<a href="/option" onclick="openPopup();">新規カテゴリ登録</a>
	</td>
	</tr>

	<tr>
		<th>グループ番号</th>
				<td><select name="groupId">
<!-- 		<option value="0">グループを選択してください</option> -->
		<option th:each="g:${glist}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}" th:selected="${task.groupId==g.id}">
			<!-- <option onclick="openPopup();">新規登録</option> -->
			</select>
		</td>
	</tr>

	<tr>
		<th>進捗度</th>
		<td><input th:value="${task.progress}" type="number" name="progress"></td>
	</tr>
	<tr>
		<th>備考</th>
		<td><textarea th:value="${task.memo}" name="memo" cols="40" rows="5"></textarea></td>
	</tr>

</table>

<br>
	<input type="submit"  value="更新">
	<br>
<a href="/list">タスク一覧へ</a>
</form>



</body>
</html>