<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>

<!-- ボタンjQuery & CSS -->
		<span th:replace="buttonJquery"></span>
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- カレンダーjQuery -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/pepper-grinder/jquery-ui.css" >
	<script>
	  $(function() {
	    $("#datepicker").datepicker();
	  });
	</script>

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

<h1>タスク編集</h1>
<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

	<p th:text="${message}" style="color:red"></p>

		<form action="/update"  method="post">
		<input type="hidden" name="code" th:value="${task.code}">
		<input type="hidden" name="userId" th:value="${session.userInfo.id}">

		<table border="1">
	<tr>
		<th>タスク名</th><td><input type="text" name="name" th:value="${task.name}" size="43"></td>
	</tr>

	<tr>
 		<th>作成者</th><td th:text="${session.userInfo.name}"></td>
 	</tr>

 	<tr>
		<th>期限</th><td><input type="text" name="dline" th:value="${task.dline}" id="datepicker" size="43"></td>
	</tr>

	<tr>
		<th>優先順位</th>
	<td><select name="prtNum">
			<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}" th:selected="${task.prtNum==p.num}">
		</select>
	</td>
	</tr>

		<tr>
		<th>カテゴリ番号</th>
			<td><select name="cgCode">
						<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
					</select>
				<a th:href="'/category/new/'+${task.code}">新規カテゴリ登録</a>
			</td>
		</tr>

	<tr>
		<th>グループ番号</th>
				<td><select name="groupId">
				<option th:each="g:${glist}" th:if="${g.id!=100}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}" th:selected="${task.groupId==g.id}">
					</select>
					<a th:href="'/group/new/'+${task.code}">新規グループ登録</a>
				</td>
			</tr>

			<tr>
				<th>進捗度</th>
				<td><input th:value="${task.progress}" type="number" name="progress"></td>
			</tr>
			<tr>
				<th>備考</th>
				<td><textarea name="memo" cols="40" rows="5" th:text="${task.memo}"></textarea></td>
			</tr>

	</table>

			<br>

			<button class="btnSubmit" value="更新">更新</button>

		</form>

			<br>

<!-- カテゴリ編集ボタン -->
			<form action="/category/edit" method="POST">
			<input type="hidden" th:value="${task.code}" name="tcode">
			<select name="cCode">
				<option th:each="c:${clist}" th:if="${c.code!=100 && c.code!=0}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
			</select>
			<input type="submit" value="カテゴリ編集">
			</form>

<!-- グループ編集ボタン -->
			<form action="/group/edit" method="POST">
			<input type="hidden" th:value="${task.code}" name="tcode">
			<select name="gid">
				<option th:each="g:${glist}" th:if="${g.id!=100 && g.id!=0}" th:value="${g.id}" th:text="${g.id}+'：'+${g.name}">
			</select>
			<input type="submit" value="グループ編集"></form>

			<br>

<!-- グループメンバー表示 -->
	<table border="1" style="border-collapse: collapse">
            <tr>
            	<th>グループコード</th>
                <th>グループ名</th>
                <th>メンバー</th>
            </tr>
            <tr th:each="g2:${glist}">
            	<td><span th:text="${g2.id}"></span></td>
                <td><span th:text="${g2.name}"></span></td>
                <td><span th:each="gm:${gmlist}" th:if="${g2.id==gm.groupId}" th:text="${gm.member}"></span></td>
            </tr>
        </table>

        <br>

			<a href="/list">タスク一覧へ</a>

</body>
</html>