<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録完了</title>

<!-- 入力フォームjQuery & CSS -->
		<span th:replace="topJquery"></span>
<!-- 方眼背景CSS -->
		<link rel="stylesheet" href="/background1.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ファビコン -->
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

	<div id="formWrapper">
	<div id="form">

<h1>ユーザー登録完了</h1>


<a href="/top">ログイン画面へ</a>

	</div>
	</div>

</body>
</html>