<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録完了</title>

<!-- 入力フォームjQuery & CSS -->
		<span th:replace="topJquery"></span>
<!-- 格子背景CSS -->
		<link rel="stylesheet" href="/background.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

	<div id="formWrapper">
	<div id="form">

<h1>ユーザー登録完了</h1>


<a href="/">ログイン画面へ</a>

	</div>
	</div>

</body>
</html>