<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- ローディングjQuery & CSS -->
		<span th:replace="loadingJquery"></span>
<!-- カレンダー＆ダイアログjQuery -->
		<span th:replace="listJquery"></span>
<!-- テーブル配置CSS -->
		<link rel="stylesheet" href="/back.css">
<!-- List用CSS -->
		<link rel="stylesheet" href="/list.css">
<!-- テーブル用CSS -->
		<link rel="stylesheet" href="/table.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ファビコン -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<!-- ノートロゴ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- リスト表示並び替えjQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/extras/jquery.metadata.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#taskTable").tablesorter();
			});
			$(document).ready(function(){
				$("#taskTable").tablesorter({
					headers: {
						1: { sorter: false },
						2: { sorter: false },
						7: { sorter: false },
						8: { sorter: false }
					}
				});
			});
		</script>

<!--  チェックボックスjQuery  -->
	 <script type="text/javascript" src="jquery-2.0.3.js"></script>
	    <script type="text/javascript">
	     function t(){
	    	 var dialogLink = $(".dialog-link").get();
	   		 var trash = $(".trash").get();
	    	 var ary3 = [];
	    	 for (var i = 0; i < trash.length; i++) {
				if(trash[i].checked){
					ary3.push(dialogLink[i].value);
				}
	    	 }

	    	location.href = "/list/trash?code="+ ary3;
	     }
    </script>

</head>
<body>

<!-- ローディング画面表示 -->
		  <div id="try">
		  <div class='triangles'>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <br>
		  <br>
		  <br>
		  <p> Loading...</p>
		</div>
		</div>

<!-- ローディング後に表示させるもの -->
		<div id="wrap">
 <span th:replace="line"></span>



<!-- ロゴ -->
	    <img src="/logo.png" class="img">

<!-- リストをくくる -->
		<div class="ALL">

<!-- miniバー -->

	<div class="nav">
		<div style="display:inline-flex" class="color">

			<form action="/task/search/name"  method="post" class="btn10">
				<span>　　　</span>検索：<input type="search" name="keyword" th:value="${keyword}" >
				<input type="submit"  value="検索" class="btn11">｜
			</form>

			<form action="/task/search/category" method="post" class="btn10">
				<select name="category">
					<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
				</select>
				<input type="submit" value="カテゴリ検索" class="btn11">｜
			</form>

			<form action="/task/search/priority" method="post" class="btn10">
				<select name="priority">
					<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}">
				</select>
				<input type="submit" value="優先度検索" class="btn11"> |
			</form>

				<form action="/list/new"  method="post" class="btn10">
				<input type="submit"  value="タスク作成" class="btn11"> |
			</form>

			<form action="/task/update"  method="post" class="btn10">
				<input type="button"  value="更新" onclick="f();"  class="btn11"> |
			</form>

			<form action="/list/trash"  method="post" class="btn10">
				<input type="button"  value="削除" onclick="t();" class="btn11"> |
			</form>

				<form action="/look/trash"  method="post" class="btn10">
				<input type="submit"  value="ゴミ箱を見る"  class="btn11"> |
			</form>

			<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'" id="name"></span>

			<a href="/logout">ログアウト</a>

		</div>

	</div>

	<div class="topnav">
		<h1><i class="fa fa-file-text-o" id="i"></i><span>タスク一覧</span><i class="fa fa-file-text-o" id="i"></i></h1>

		<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'" id="name"></span>

<!-- ログアウト -->
		<a href="/logout">ログアウト</a>
		<a href="/userInfo">情報更新</a>


<!-- カレンダー表示用 -->
		<header>
			<div id="datepicker"/>
			<br/>
		</header>
		<br>

<!-- 検索ボタン -->
		<div style="display:inline-flex" class="allbutton">

			<form action="/task/search/name"  method="post">
				検索：<input type="search" name="keyword" th:value="${keyword}" >
				<input type="submit"  value="検索" class="btn-gradient-radius">｜
			</form>

			<form action="/task/search/category" method="post">
				<select name="category">
					<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
				</select>
				<input type="submit" value="カテゴリ検索" class="btn-gradient-radius">｜
			</form>

			<form action="/task/search/priority" method="post">
				<select name="priority">
					<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}">
				</select>
				<input type="submit" value="優先度検索" class="btn-gradient-radius">
			</form>
		</div>
		<hr>

<!-- 操作ボタン -->
		<div style="display:inline-flex">

			<form action="/list/new"  method="post">
				<input type="submit"  value="タスク作成"  class="btn1">
			</form>

			<form action="/task/update"  method="post">
				<input type="button"  value="更新" onclick="f();" class="btn2">
			</form>

			<form action="/list/trash"  method="post">
				<input type="button"  value="削除" onclick="t();" class="btn3">
			</form>

			<form action="/look/trash"  method="post">
				<input type="submit"  value="ゴミ箱を見る"  class="btn">
			</form>
		</div>

	</div>

<!-- 並べ方変更 -->
			<table class="tablesorter" id="taskTable">

<!-- 表示バー -->
			<thead>
			<tr>
				<th class="{sorter: 'metadata'}">タスク番号</th>
				<th>タスク名</th>
				<th>作成者</th>
				<th>期限</th>
				<th>優先順位</th>
				<th>カテゴリ</th>
				<th class="{sorter: 'metadata'}">進捗度</th>
				<th>削除</th>
				<th>編集</th>
			</tr>
			</thead>

<!-- タスク一覧表示 -->
			<tbody>
			<tr th:each="list:${list}">

<!-- ダイアログ作成、コード取得 -->
			<td th:class="'{sortValue: '+${list.code}+'}'">
					<input class="dialog-link" type="submit" th:value="${list.code}">
					<div th:id="'dialog' + ${list.code}" style="display:none;" class="nameAll">
 <!-- ダイアログに表示させる内容記述 -->
 					<span>タスク名:</span><span th:text="${list.name}"></span>
 					<br>
 					<span>カテゴリ:</span><span th:each="c:${clist}" th:if="${list.cgCode==c.code}" th:text="${c.name}"></span>
					<br>
					<span>担当グループ:</span><span th:each="g:${glist}" th:if="${list.groupId==g.id}" th:text="${g.name}"></span>
 					<br>
 					<span>担当メンバー:</span><span th:each="gm:${gmlist}" th:if="${list.groupId==gm.groupId}" th:text="${gm.member}"></span>
 					<br>
 					<span>メモ:</span><span th:text="${list.memo}"></span>
					</div>
					</td>
					<td th:text="${list.name}"></td>
					<td><span th:each="u:${ulist}" th:if="${list.userId==u.id}" th:text="${u.name}"></span></td>
					<td name="dline">
						<span th:each="a:${almost}" th:if="${list.code==a.code && a.almost==false}" style="color:red" th:text="${list.dline}"></span>
						<span th:each="a:${almost}" th:if="${list.code==a.code && a.almost==true}" th:text="${list.dline}"></span>
					</td>
					<td><span th:each="p:${plist}" th:if="${list.prtNum==p.num}" th:text="${p.name}"></span></td>
					<td><span th:each="c:${clist}" th:if="${list.cgCode==c.code}" th:text="${c.name}"></span></td>
					<td th:class="'{sortValue: '+${list.progress}+'}'"><input type="range" min="0" max="100" step="1" th:value="${list.progress}" name="progress" class="progress"
					oninput="this.nextElementSibling.innerHTML=this.value"><output th:text="${list.progress}"></output></td>

<!-- 消去チェックボックス -->
			<td><input type="checkbox" name="trash" class="trash"></td>

<!-- 編集ボタン -->
			<td><form action="/list/edit" method="post">
					<input type="hidden" th:value="${list.code}" name="code">
					<input type="submit" value="編集">
				</form>
			</td>
			</tr>
			</tbody>
			</table>

<!-- 管理者画面へ -->
			<div th:if="${flag==true}">
			<span th:text="${msg00}" style="color:red"></span>
				<form action="/users/list", method="post">
					ユーザ管理画面：パスワードを入力
				<input type="password" name="pw">
				<input type="submit" value="送信">
				</form>
			</div>

</div>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
</body>
</html>