<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/humanity/jquery-ui.css" >
<script type="text/javascript">
$(function() {
    $("#datepicker").datepicker({
        // 日付が選択された時、日付をテキストフィールドへセット
        onSelect: function(dateText, inst) {
                    $("#date_val").val(dateText);
                }
    });
});
</script>

<!-- 一回退避 -->
<script>

// $(function() {
//   $("#dialog-link").click(function() {
//     $("#dialog").dialog({
//       modal:true,
//       title:"タスク詳細",
//       buttons: {
//         "ＯＫ": function() {$(this).dialog("close");},
//         "キャンセル": function() {$(this).dialog("close");}
//       }
//     });
//   });
// });

</script>

<!-- 挑戦中 -->
<script>

$(function() {
  $("#dialog-link").on('click',function() {
    $("#dialog").dialog({
      modal:true,
      title:"タスク詳細",
      buttons: {
        "ＯＫ": function() {$(this).dialog("close");},
        "キャンセル": function() {$(this).dialog("close");}
      }
    });
  });
});

</script>

</head>
<body>
<h1>タスク一覧</h1>
<header>
<div id="datepicker"/>
<br/>

</header>
	<span th:replace="menu"></span>
	<form action="/task/update"  method="post">
<!-- 		<input type="hidden" name="CODE" th:value="${list.code}">あ -->
	<input type="submit"  value="更新">
</form>
	<form action="/look/trash"  method="post">
	<input type="submit"  value="ゴミ箱を見る">
</form>
	<form action="/list/new"  method="post">
	<input type="submit"  value="タスク作成">
</form>

<table border="1">
	<tr>
		<td><a href="/order/code">昇順</a></td>
		<td></td>
		<td></td>
		<td><a href="/order/deadline">近い順</a></td>
		<td><a href="/order/priority">高い順</a></td>
		<td></td>
		<td></td>
		<td><a href="/order/progress/desc">高い順</a></td>
		<td></td>
		<td></td><td></td>
	</tr>

	<tr>
		<td><a href="/order/code/desc">降順</a></td>
		<td></td>
		<td></td>
		<td><a href="/order/deadline/desc">遠い順</a></td>
		<td><a href="/order/priority/desc">低い順</a></td>
		<td></td>
		<td></td>
		<td><a href="/order/progress">低い順</a></td>
		<td></td>
		<td></td><td></td>
	</tr>


	<tr>
		<th>タスク番号</th>
		<th>タスク名</th>
		<th>作成者</th>
		<th>期限</th>
		<th>優先順位</th>
		<th>カテゴリ番号</th>
		<th>グループ番号</th>
		<th>進歩度</th>
		<th>備考</th>
		<th>削除</th>
		<th>編集</th>
	</tr>

	<tr th:each="list:${list}">
		<td >
<!-- 一番にしか作用していない -->
			<input type="submit" th:value="${list.code}" id="dialog-link">
			<div id="dialog" style="display:none;">
 			<p>
<!-- 表示させる内容記述 -->
 		 	</p>
			</div>
		</td>
		<td th:text="${list.name}"></td>
		<td><span th:each="u:${ulist}" th:if="${list.userId==u.id}" th:text="${u.name}"></span></td>
		<td><span th:if="${dflag==true}" style="color:red" th:text="${list.dline}"></span>
		<span th:if="${dflag==false}" style="color:red" th:text="${list.dline}"></span>
		</td>
		<td><span th:each="p:${plist}" th:if="${list.prtNum==p.num}" th:text="${p.name}"></span></td>
		<td><span th:each="c:${clist}" th:if="${list.cgCode==c.code}" th:text="${c.name}"></span></td>
		<td><span th:each="g:${glist}" th:if="${list.groupId==g.id}" th:text="${g.name}"></span></td>

<!-- 進捗度をデータベースと紐づける予定 -->
		<td><input th:text="${list.progress}" type="range" min="1" max="10" step="1" value="1"></td>
		<td th:text="${list.memo}"></td>
		<td><form action="/list/trash" method="post">
				<input type="hidden" th:value="${list.code}" name="code">
				<input type="hidden" th:value="${list.name}" name="name">
				<input type="hidden" th:value="${list.userId}" name="userId">
				<input type="hidden" th:value="${list.dline}" name="dline">
				<input type="hidden" th:value="${list.prtNum}" name="prtNum">
				<input type="hidden" th:value="${list.cgCode}" name="cgCode">
				<input type="hidden" th:value="${list.groupId}" name="groupId">
				<input type="hidden" th:value="${list.progress}" name="progress">
				<input type="hidden" th:value="${list.memo}" name="memo">
				<input type="submit" value="削除">
			</form>
		</td>
		<td><form action="/list/edit" method="post">
				<input type="hidden" th:value="${list.code}" name="code">
				<input type="submit" value="編集">
			</form>
		</td>
	</tr>

</table>

</body>
</html>