
	<form action="/task/search/name"  method="post">
		検索：<input type="search" name="keyword" th:value="${keyword}">
		<input type="submit"  value="検索">
	</form>

	<form action="/task/search/category" method="post">
		<select name="category">
			<option th:each="c:${clist}" th:if="${c.code!=100}" th:value="${c.code}" th:text="${c.code}+'：'+${c.name}">
		</select>
		<input type="submit" value="カテゴリ検索">
	</form>

	<form action="/task/search/priority" method="post">
		<select name="priority">
			<option th:each="p:${plist}" th:value="${p.num}" th:text="${p.name}">
		</select>
		<input type="submit" value="優先度検索">
	</form>

<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>

<hr>