<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo List</title>

<!-- 入力フォームjQuery & CSS -->
		<span th:replace="topJquery"></span>
<!-- 格子背景CSS -->
		<link rel="stylesheet" href="/background.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ファビコン -->
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

</head>
<body>

<!-- ロゴ -->
    <img src="/logo.png" class="img">

	<form action="/login"  method="post">

	<div id="formWrapper">
	<div id="form">

<!-- 見出しの文字 -->
<h1 class="gr_anime"><span>ToDo List</span></h1>

<!-- 入力アラート -->
		<p th:text="${message}" style="color:red"></p>

<!-- 名前入力 -->
	    <div class="form-item">
	      <p class="formLabel">NAME</p>
	      <input type="text" name="name" id="name" class="form-style" autocomplete="off"/>
	    </div>

<!-- パスワード入力 -->
	    <div class="form-item">
	      <p class="formLabel">Password</p>
	    <input type="password" name="pw" id="pw" class="form-style" />

<!-- パスワード忘れた方 -->
      	<p><a href="/forget/password" ><small>Forgot Password ?</small></a></p>
    	</div>

<!-- 新規登録 -->
	    <div class="form-item">
	    <p class="pull-left"><a href="/user"><small>New Registration</small></a></p>

<!-- ログインボタン -->
	    <input type="submit" class="login pull-right" value="Log In">
	    <div class="clear-fix"></div>
	    </div>
</form>
	</div>

	<form action="/top"  method="post">
		    <input type="submit" class="login1" value="Change Background">
	    <div class="clear-fix"></div>
	</form>
	</div>

</body>
</html>