<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<link rel="stylesheet" href="/Loading.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script type="text/javascript">
$("submit").click(function() {
	$("#try").fadeOut(400, function(){ $(this).remove(); });
});
</script>

</head>
<body>

<h1>ログイン</h1>

<form action="/login" method="post">

NAME:<input type="text" name="name">
<br>
PASS:<input type="password" name="pw">
<br>
<input type="submit" value="ログイン">
	<span th:text="${message}" style="color:red"></span>
	<br>
</form>
<a href="/user">新規ユーザー登録</a>
</body>
</html>

<!-- sss -->

  <div id="try">
  <div class='triangles'>
  <div class='tri invert'></div>
  <div class='tri invert'></div>
  <div class='tri'></div>
  <div class='tri invert'></div>
  <div class='tri invert'></div>
  <div class='tri'></div>
  <div class='tri invert'></div>
  <div class='tri'></div>
  <div class='tri invert'></div>
</div>
</div>