<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>
</head>
<body>
<h1>ゴミ箱</h1>
	<span th:replace="menu"></span>

	<a href="/list">タスク一覧へ戻る</a><br>

	<span th:text="${message}"></span>

<table border="1">
	<tr>
		<th>タスク番号</th>
		<th>タスク名</th>
		<th>作成者</th>
		<th>期限</th>
		<th>優先順位</th>
		<th>カテゴリ番号</th>
		<th>グループ番号</th>
		<th>進歩度</th>
		<th>備考</th>
		<th>復元</th>
		<th>完全削除</th>
	</tr>

	<tr th:each="list:${list}">
		<td th:text="${list.code}"></td>
		<td th:text="${list.name}"></td>
		<td><span th:each="u:${ulist}" th:if="${list.userId==u.id}" th:text="${u.name}"></span></td>
		<td th:text="${list.dline}"></td>
		<td><span th:each="p:${plist}" th:if="${list.prtNum==p.num}" th:text="${p.name}"></span></td>
		<td><span th:each="c:${clist}" th:if="${list.cgCode==c.code}" th:text="${c.name}"></span></td>
		<td><span th:each="g:${glist}" th:if="${list.groupId==g.id}" th:text="${g.name}"></span></td>
		<td th:text="${list.progress}"></td>
		<td th:text="${list.memo}"></td>
		<td><form action="/trash/recovery" method="post">
				<input type="hidden" th:value="${list.code}" name="code">
				<input type="hidden" th:value="${list.name}" name="name">
				<input type="hidden" th:value="${list.userId}" name="userId">
				<input type="hidden" th:value="${list.dline}" name="dline">
				<input type="hidden" th:value="${list.prtNum}" name="prtNum">
				<input type="hidden" th:value="${list.cgCode}" name="cgCode">
				<input type="hidden" th:value="${list.groupId}" name="groupId">
				<input type="hidden" th:value="${list.progress}" name="progress">
				<input type="hidden" th:value="${list.memo}" name="memo">
				<input type="submit" value="復元">
			</form>
		</td>
		<td><form action="/delete" method="post">
				<input type="hidden" th:value="${list.code}" name="code">
				<input type="submit" value="完全削除">
			</form>
		</td>
	</tr>

</table>


</body>
</html>