<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- ゴミ箱ローディングjQuery & CSS -->
		<span th:replace="trashLoadingJquery"></span>
<!-- テーブル配置CSS -->
		<link rel="stylesheet" href="/back.css">
<!-- テーブル用CSS -->
		<link rel="stylesheet" href="/table.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ボタンCSS -->
		<link rel="stylesheet" href="/trash.css">
<!-- ゴミ箱ロゴ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- ファビコン -->
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

<!--  チェックボックスjQuery  -->
	 <script type="text/javascript" src="jquery-2.0.3.js"></script>
	    <script type="text/javascript">
	     function d(){
	    	 var code = $(".code").get();
	   		 var dl = $(".delete").get();
	    	 var ary = [];
	    	 for (var i = 0; i < dl.length; i++) {
				if(dl[i].checked){
					ary.push(code[i].value);
				}
	    	 }

	    	location.href = "/delete?code="+ ary;
	     }
    </script>

</head>
<body>

<!-- ローディング画面表示 -->
	<div id="loading">
	<div class="loader">
	<div class="inner one"></div>
	<div class="inner two"></div>
	<div class="inner three"></div>
	<br>
	<br>
	<br>
	<p> Loading...</p>
	</div>
	</div>

<!-- ローディング後に表示させるもの -->
		<div id="wrap">

<!-- ロゴ -->
    <img src="/logo.png" class="img">

	<h1><i class="fa fa-trash" id="i"></i><span>ゴミ箱</span><i class="fa fa-trash" id="i"></i></h1>

		<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'"></span>
		<hr>

		<a href="/list">タスク一覧へ戻る</a>
		<br>
		<form action="/delete"  method="post">
				<input type="button"  value="削除" onclick="d();" class="btn3">
			</form>
		<br>

		<span th:text="${message}"></span>

	<table class="tablesorter">
	<thead>
		<tr>
			<th>タスク番号</th>
			<th>タスク名</th>
			<th>作成者</th>
			<th>期限</th>
			<th>優先順位</th>
			<th>カテゴリ名</th>
			<th>グループ名</th>
			<th>進歩度</th>
			<th>復元</th>
			<th>完全削除</th>
		</tr>
		</thead>

		<tr th:each="list:${list}">
			<td th:text="${list.code}"></td>
			<td th:text="${list.name}"></td>
			<td><span th:each="u:${ulist}" th:if="${list.userId==u.id}" th:text="${u.name}"></span></td>
			<td th:text="${list.dline}"></td>
			<td><span th:each="p:${plist}" th:if="${list.prtNum==p.num}" th:text="${p.name}"></span></td>
			<td><span th:each="c:${clist}" th:if="${list.cgCode==c.code}" th:text="${c.name}"></span></td>
			<td><span th:each="g:${glist}" th:if="${list.groupId==g.id}" th:text="${g.name}"></span></td>
			<td th:text="${list.progress}"></td>
			<td><form action="/trash/recovery" method="post">
					<input type="hidden" th:value="${list.code}" name="code">
					<input type="submit" value="復元">
				</form>
			</td>
			<td><input type="checkbox" name="delete" class="delete">
				<input type="hidden" class="code" th:value="${list.code}">
			</td>
		</tr>

	</table>

</div>
</body>
</html>