<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>

<!-- ローディングjQuery & CSS -->
		<span th:replace="loadingJquery"></span>
<!-- テーブル配置CSS -->
		<link rel="stylesheet" href="/back.css">
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">


</head>
<body>

<!-- ローディング画面表示 -->
		  <div id="try">
		  <div class='triangles'>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <br>
		  <br>
		  <br>
		  <p> Loading...</p>
		</div>
		</div>

<!-- ローディング後に表示させるもの -->
		<div id="wrap">

<!-- ロゴ -->
	    <img src="/logo.png" class="img">

		<h1>ユーザ削除</h1>
		<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'" id="name"></span>

<!-- ログアウト -->
		<a href="/logout">ログアウト</a>
		<hr>

<br>
<div>対象のユーザ<h4 style="color:red" th:text="${user.name}"></h4></div>
<br>

<div th:if="${flag0==true}">
<span>本当に削除しますか？</span>
<br>
	<div style="display:inline-flex">
		<form action="/user/delete/check02" method="post">
			<input type="hidden" name="id" th:value="${user.id}">
			<input type="submit" value="はい">
		</form>
		<form action="/user/delete/cancel" method="post">
			<input type="submit" value="いいえ">
		</form>
	</div>
</div>
<br>
<div th:if="${flag==true}">
	対象のユーザが作成したタスクを全て削除→
	<form action="/user/delete/all" method="post">
		<input type="hidden" name="id" th:value="${user.id}">
		<input type="submit" value="全削除">
	</form>
	「削除済のユーザ」が作成したタスクとして残す→
	<form action="/user/delete/taihi" method="post">
		<input type="hidden" name="id" th:value="${user.id}">
		<input type="submit" value="残す">
	</form>

	キャンセル
	<form action="/user/delete/cancel" method="post">
			<input type="submit" value="キャンセル">
	</form>
</div>

<span th:text="${user.name}"></span>さんが作成したタスク一覧
<br>
	<table border="1">
		<tr>
			<th>タスク名</th>
			<th>進捗度</th>
			<th>状態</th>
		</tr>
		<tr th:each="t:${tlist}">
			<th th:text="${t.name}"></th>
			<th th:text="${t.progress}+'%'"></th>
			<th>
				<span th:if="${t.trash==true}" th:text="未完"></span>
				<span th:if="${t.trash==false}" th:text="ゴミ箱"></span>
			</th>
		</tr>
	</table>
	<br>
</div>
</body>
</html>