<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理</title>

<!-- ローディングjQuery & CSS -->
		<span th:replace="loadingJquery"></span>
</head>
<body>

<!-- ローディング画面表示 -->
		  <div id="try">
		  <div class='triangles'>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <br>
		  <br>
		  <br>
		  <p> Loading...</p>
		</div>
		</div>

<!-- ローディング後に表示させるもの -->
		<div id="wrap">

		<h1>ユーザ管理</h1>
		<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'" id="name"></span>

<!-- ログアウト -->
		<a href="/logout">ログアウト</a>
		</div>

<div>ユーザ登録用コード：todoLets</div>

<span th:text="${finish}" style="color:red"></span>

<h2>ユーザ一覧</h2>
<table>
	<thead>
	<tr>
		<th>ユーザ名</th>
		<th>パスワード</th>
		<th>秘密の質問</th>
		<th>秘密の言葉</th>
		<th>削除</th>
	</tr>
	</thead>

	<tbody>
	<tr th:each="list:${ulist}">
		<td th:text="${list.name}"></td>
		<td th:text="${list.pw}"></td>
		<td>
			<span th:if="${list.himituCode==1}" th:text="${h1}"></span>
			<span th:if="${list.himituCode==2}" th:text="${h2}"></span>
			<span th:if="${list.himituCode==3}" th:text="${h3}"></span>
		</td>
		<td th:text="${list.himitu}"></td>

<!-- 消去ボタン -->
		<td><form action="/user/delete/check" method="post">
				<input type="hidden" th:value="${list.id}" name="id">
				<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</tbody>
</table>

</body>
</html>