<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>

<!-- ローディングjQuery & CSS -->
		<span th:replace="loadingJquery"></span>
<!-- テーブル配置CSS -->
		<link rel="stylesheet" href="/back.css">
<!-- アカウント箱ロゴ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- ロゴCSS -->
		<link rel="stylesheet" href="/logo.css">
<!-- ファビコン -->
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">


</head>
<body>

<!-- ローディング画面表示 -->
		  <div id="try">
		  <div class='triangles'>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <div class='tri'></div>
		  <div class='tri invert'></div>
		  <br>
		  <br>
		  <br>
		  <p> Loading...</p>
		</div>
		</div>

<!-- ローディング後に表示させるもの -->
		<div id="wrap">

<!-- ロゴ -->
	    <img src="/logo.png" class="img">

		<h1><i class="fa fa-address-card-o" id="i"></i><span>ユーザ管理</span><i class="fa fa-address-card-o" id="i"></i></h1>
		<span th:text="'（'+${session.userInfo.name}+' さんがログイン中）'" id="name"></span>
<!-- ログアウト -->
		<a href="/logout">ログアウト</a>

<hr>

		<br>

<div>ユーザ登録用コード<h4 style="color:red">todoLets</h4></div>
<span th:text="${finish}" style="color:red"></span>

<br>
<h2>ユーザ一覧</h2>
<table>
	<thead>
	<tr>
		<th>ユーザ名</th>
		<th>削除</th>
	</tr>
	</thead>

	<tbody>
	<tr th:each="list:${ulist}">
		<td th:text="${list.name}"></td>

<!-- 消去ボタン -->
		<td><form action="/user/delete/check" method="post">
				<input type="hidden" th:value="${list.id}" name="id">
				<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</tbody>
</table>
<br>
		<a href="/list">タスク一覧へ</a>
</div>
</body>
</html>